* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: 'Inter', 'Arial', sans-serif;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1358px;
    height: 444px;
}

.logo {
    width: 180px;
    height: 32px;
}

.text {
    width: 768px;
    height: 108px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.cite-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #111827;
}

.cite-position {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #6B7280;
}